body{

	background: url("../img/imgbg888.jpg") repeat scroll 0 0 #f8f8f8;
	
}
body{
	font-family:"verdana","Helvetica Neue","Helvetica","Arial",'microsoft yahei ui', 'microsoft yahei',"sans-serif"  !important;
	/**font-family: Helvetica,Arial,sans-serif !important;**/
	font-size:12px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family:"verdana","Helvetica Neue","Helvetica","Arial",'microsoft yahei ui', 'microsoft yahei',"sans-serif"  !important;
	/**font-family: Helvetica,Arial,sans-serif !important;**/
    font-weight: 700;
}
/**
a {
    color: #666666;
}
a:hover, a:focus {
    color: #004e8a;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
**/
input:focus{
	outline:0;
}
.dis-rel{
position: relative;
}
.mainbg{
	background: url("../img/imgbg.jpg") repeat scroll 0 0 #f8f8f8;
	
}
.font-normal{
	font-weight:300;
}
.font-bold{
	font-weight:700;
}
.header,header {

    min-height: 60px;
   width: 100%;
text-align:center;
margin-left:auto; 
margin-right:auto;
	font-size:14px;
	background:#ffffff;
	 border-bottom: 1px solid #dedede;
}
.header .topnav,header .topnav{
    background: url("../img/imgbg.jpg") repeat scroll 0 0 #f8f8f8;
    border-bottom: 1px solid #dedede;
    line-height: 36px;
    width: 100%;
}
.site-logo .logo-base {
    
    background-repeat: no-repeat;
    
    text-align:left;
    margin:0 auto;
    display: block;
    height: 120px;
    margin: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 446px;
text-align:center;
margin-left:auto; 
margin-right:auto;
}
.site-logo .logo-slogan {
    margin-top: 3px;
    display: block;
    height: 13px;
    overflow: hidden;
    font-size: 11px;
    color: #999;
	font-weight:300;
	text-align:center;
}
.wrap {

    //padding-top: 1px;//高度
}
.f14 {
    font-size: 14px;
}
.mainbg {

    background: #f8f8f8 url("../img/imgbg.jpg") repeat scroll 0 0;
}
.white-container {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #ddd #ccc #ddd #ddd;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 4px 4px 1px #eee;
    margin-bottom: 1px;//地步
    padding: 0px; //高度
    position: relative;
}
.white-container .page-header {
    font-size: 16px;
    margin: 10px 0 0px;//高度
}
.text-inverse {
    color: #34495e;
}
.page-header {
    border-bottom: 1px solid #eeeeee;
    margin: 34px 0 17px;
    padding-bottom: 7.5px;
}
.error {
    color: #e74c3c;
    font-size: 13px;
    font-weight: 300;
    padding-top: 6px;
}
input.error, textarea.error {
    border-color: #e74c3c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
#static_div{
	display:none;
}

#check_gfw_domains{
cursor:pointer;
}
#check_nogfw_domains{
cursor:pointer;
}
#check_disgfw_domains{
cursor:pointer;
}
dl{float:left;padding-bottom:1px;width:100%;background:#FFFFFF;}

dt{height:18px;font-size:18px;font-weight:bold;float:left;line-height:18px; color:#00a8ff; padding-left:10px;border-left:5px solid #00a8ff;margin:1px; }
dt a { font-size:18px; color:#f90;margin-left:10px;}
dd{background:#FFFFFF;color:#999;height:45px; line-height:45px; display:block;float:left;width:100%;border-right:1px solid #ddd;font-size:14px;font-family:"微软雅黑";}
dd:hover {background:#fff; cursor:pointer;background:#0695cf;color:#fff;}
dd a { font-weight:bold; color:#333;display:block;padding:0 20px;width:95%;cursor:pointer;height:30px;}
dd a:hover{text-decoration:none;color:#fff;background:#0695cf;color:#fff;}
dd em {font-size:20px;font-weight:bold;padding-left:4px;width:16%;}
dd em2 {font-size:20px;font-weight:bold;padding-left:4px;width:36%;}

dd a i {font-family:"Book Antiqua";font-size:30px;font-weight:bold;color:#0000ff;float:left;font-style:normal;width:35%;}
dd a:hover i{color:#fff;} 
dd a em {color:#333;float:left;width:16%;}
dd a em2 {color:#333;float:left;width:36%;}
dd a:hover em{color:#fff;}

dd a span{color:#333;float:left;font-size:20px;}
dd a:hover span{color:#fff;float:left;}




.width980{ width:710px; margin: 0 auto; overflow: hidden;}





/